@font-face {
    font-family: 'Ohio Kraft';
    src: url('OhioKraft.woff2') format('woff2'),
        url('OhioKraft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afta serif';
    src: url('Aftaserif.woff2') format('woff2'),
        url('Aftaserif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}