/* General setup */
@font-face {
    font-family: 'Ohio Kraft';
    src: url('fonts/OhioKraft.woff2') format('woff2'),
        url('fonts/OhioKraft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afta serif';
    src: url('fonts/Aftaserif.woff2') format('woff2'),
        url('fonts/Aftaserif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



html {
    font-size: 10px;
    margin: 0;
    font-family: "Audiowide", sans-serif;
}

body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ultra", sans-serif;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
}