body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
}

.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
}

nav {
    background-color: #000;
    padding: .5em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
}

.photos {
    list-style: none;
    margin: 0;
    padding: 0;
}

.feature {
    width: 200px;
}

/* new styles */
nav ul {
    display: flex;
    justify-content: center;
}

nav {
    position: sticky;
    top: 0;
}

article > img {
    float: left;
    margin-right: 15px;
    /* margin-bottom: px; */
}

.grid {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 30px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}