/* Type and text */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: inherit;
    font: 1.2em / 1.5 system-ui;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
}

h1 {
    /* font-size: 2em; */
    font-size: calc(2vw + 1em);
}

h1::before {
    content: "📖";
    margin-right: 20px;
}

h2 {
    /* font-size: 1.5em; */
    font-size: calc(1.5em + 0.75vw);
}

a {
    color: red;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* Styling the pane */

.pane {
    height: 100%;

    width: clamp(480px, 60%, 1000px);

    margin: 0 auto;
    padding: 0 20px;

    background: linear-gradient(
        to bottom, #9fb4c7, #7f7caf
    );
}

h1,
.controls {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
}

.content {
    overflow: auto;

    background: url("https://mdn.github.io/shared-assets/images/examples/big-star.png")
        right 20px top 10px no-repeat,
        #eeeeff
    ;

    height: calc(100% - 200px);

    padding: 0 20px;

    border: 2px solid #28587b;
}

.controls {
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

button {
    flex: 1;

    height: 100%;
    font-size: 1.2em;
}



img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid #28587b;

}


button {
    color: white;
    background-color: rgb(40 88 123 / 0.8);
}

button:hover,
button:focus {

    background-color: rgb(40 88 123 / 1);
}

div.content,
button {
    border-radius: 10px;
}