.fav-box {
    background-color: burlywood;
}

.fav-box a {
    text-decoration: none;
}

.fav-box a:link {
    color: white;
}

.fav-box a:visited {
    color: gainsboro;
}

.fav-box a:hover {
    background-color: blanchedalmond;
}